.category-page {
  display: flex;
  height: 100vh;
}

.left-panel {
  /* flex: 1; */
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.right-panel {
  flex: 1;
  justify-content: center;
}

.subcategory-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 每行三个item */
}

.subcategory-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 120px;
  margin-top: 10px;
}

.subcategory-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
